[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
gunicorn = "==20.0.4"
flask = "==2.3.3"
requests = "==2.31.0"
flask-bootstrap = "==3.3.7.1"
flask-wtf = "==1.2.1"
pillow = "==10.0.1"
tensorflow-cpu = "==2.16.2"
keras = "==3.3.3"
lxml = "==4.9.4"

[requires]
python_version = "3.11"
